
.site-navbar {
    text-align: center;
    grid-area: navbar;
    background-color: #f7f5f2;
    height: 80px;
    top: 0px;
    left: 0px;
    width: 100%;
    
}

.site-navbar h6 {
    color: #fff;
    font-size: 30px;
    margin-top: 20px;
}